
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<DAL.ORM.Entity.Category>
<div class="row" style="margin-top:50px;">
    <div class="col-md-12">
        <table class="table tale-hover">
            <thead>
                <tr>
                    <th>Kategori ismi</th>
                    <th>Kategori Açıklaması</th>
                    <th colspan="2">Güncelle/Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Descripton</td>
                        <td>
                        <a href="/Category/Update/@item.ID">Güncelle</a>
                            /
                        <a href="/Category/Delete/@item.ID">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>